<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="article-detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css " rel="stylesheet ">
    <title>Article Details</title>
</head>

<body>
    <header>
        HEADER
    </header>
    <div id="banner " class="text-justify ">
        John Lewis, civil rights giant, crosses infamous Selma bridge one final time
    </div>
    <div class="container-fluid ">
        <div class="container ">
            <div class="row mb-3 ">
                <img src="/Núi_ (15).jpg " alt=" " class="img-fluid ">
            </div>
            <div class="row justify-content-center g-2 ">
                <div class="col-8 m-0 px-3 ">
                    <div>
                        <span id="createDate ">12 hours ago</span>
                        <span id="reported ">By Carolina Cassey</span>
                        <span>4min read</span>
                    </div>
                    <p class="content ">Crowds watched solemnly as the body of Rep. John Lewis crossed the Edmund Pettus
                        Bridge one final time, 55 years after the civil rights icon marched for peace and was met with
                        brutality in Selma, Alabama. Body bearers from the U.S.
                        armed forces placed the late Georgia congressman and civil rights icon onto a horse-drawn
                        caisson Sunday at the Brown Chapel African Methodist Episcopal Church. From there, the public
                        were allowed to line up to honor Lewis for
                        about a half-mile to the foot of the bridge. Rep. Terri Sewell, D-Al., thanked Lewis’ family
                        during a ceremony at the chapel for sharing the congressman with the public for so many years.
                        “Our nation is better off because of John
                        Robert Lewis,” she remarked. “My life is better, Selma is better, this nation and this world is
                        better because of John Robert Lewis.”</p>
                    <hr class="line ">

                    <p class="content-28 ">Solemn crowds watch as Lewis, who died earlier this month at the age of 80,
                        is borne by caisson over Edmund Pettus Bridge</p>
                    <hr class="line ">
                    <figure class="container m-0 px-3 ">
                        <img src="Núi_ (15).jpg " alt=" ">
                        <figcaption class="mt-2 ">
                            <p class="small px-3 ">The casket of late U.S. Rep. John Lewis, a pioneer of the civil
                                rights movement who died July 17, is carried outside the Brown Chapel A.M.E. Church, in
                                Selma, Ala., on July 26, 2020. Christopher Aluka Berry / Reuters </p>
                        </figcaption>
                    </figure>
                    <p class="content ">Crowds waited for Lewis’ body at the foot of the bridge, where he was met by
                        Alabama state troopers, who safely escorted him across and on to the state capitol. “His final
                        march, that final crossing, so different than the first, speaks
                        to the legacy that he leaves behind and the lives that he changed,” Sewell said. " It’s poetic
                        justice that this time, Alabama state troopers will see John to his safety. " As the horse-drawn
                        caisson approached the bridge, those
                        in the masses on the sidewalk could be heard singing for Lewis. In an emotional moment, the
                        voices stopped as Lewis' casket began to make its way across the bridge in silent reverence.
                        Lewis, who died earlier this month at the
                        age of 80, made his last journey across the Edmund Pettus Bridge with only his family to join
                        him. Lewis' son, brothers and sister followed behind the caisson along Lewis' longtime chief of
                        staff wearing shirts emblazoned with
                        the words "Good Trouble, " a nod to Lewis' view on activism.
                    </p>
                    <figure class="container m-0 px-3 ">
                        <img src="Núi_ (15).jpg " alt=" ">
                        <figcaption class="mt-2 ">
                            <p class="small px-3 ">The casket of late U.S. Rep. John Lewis, a pioneer of the civil
                                rights movement who died July 17, is carried outside the Brown Chapel A.M.E. Church, in
                                Selma, Ala., on July 26, 2020. Christopher Aluka Berry / Reuters </p>
                        </figcaption>
                    </figure>

                    <p class="content ">The 16-term lawmaker, often called the conscience of Congress, was a giant of
                        the civil rights movement of the 1960s. Lewis was only 25 when he believed Alabama troopers
                        would kill him on the peaceful march for voting rights across
                        the bridge on March 7, 1965, known today as “Bloody Sunday.” Lewis suffered a fractured skull
                        and was one of dozens of nonviolent protesters who were hospitalized. News coverage of the
                        brutal beatings prompted increased pressure
                        on Congress to pass the 1965 Voting Rights Act, to bar states from enforcing discriminatory laws
                        that had long hindered prospective Black voters. And though Lewis is possibly best known for his
                        march in Selma, he had already emerged
                        as a leading voice in the fight for equal rights and had been arrested a number of times for the
                        cause by that time.</p>
                    <div class="d-flex justify-content-start ">
                        <div class="text-center tags "><span>NBCBLK</span></div>
                        <div class="text-center tags "><span>Trending</span></div>
                        <div class="text-center tags "><span>Lewis</span></div>
                        <div class="text-center tags "><span>Freebie</span></div>
                    </div>

                    <div class="control">
                        <span id="like"><i class="fa-regular fa-heart"></i><span>28</span></span>
                        <span id="reponses"><i class="fa-regular fa-comment"></i><span>21 responses</span></span>
                    </div>
                    <hr>
                    <div id="comment" class="row">
                        <div id="avatar" class="col-auto"><img src="Núi_ (15).jpg" alt=""></div>
                        <div class="col-9">
                            <div id="role">Author</div>
                            <p id="name">Caroline Casey</p>
                            <p id="about">Caroline Casey is an award-winning social activist and founder of The Valuable 500, a global movement aimed at getting 500 companies to commit to disability inclusion. </p>
                        </div>
                    </div>
                </div>
                <div class="col-4 m-0 px-3 ">
                    <div class="col-12 mb-3 m-0 w-100 ">
                        <div class="subtitle ">Recommended for you</div>
                        <div class="card " id="recommend ">
                            <img src="/Núi_ (15).jpg " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">Millions rely on emergency pandemic benefits for rent, food, and
                                    medicine. Now, that lifeline could disappear.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3 m-0 w-100 ">
                        <div class="subtitle ">Based on Like</div>
                        <div class="card " id="basedLike ">
                            <img src="/Núi_ (15).jpg " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title ">The ADA is turning 30. It's time that it included digital
                                    accessibility.</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="subtitle ">Related Topics</div>
    </div>

</body>

</html>