.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {

  width: 100%;
  height: 80px;


  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(14px);
  border-bottom-style: solid;
  border-bottom-width: 1px;


}

.content-header {
  position: absolute;
  width: 50%;
  height: 22px;
  left: 494px;
  top: 29px;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  /* identical to box height */

  /* Text */
  color: #2A2A2A;
  display: flex;

}

.nav-link {
  margin-left: 2%;
}

.logo-header {

  position: absolute;
  width: 66px;
  height: 66px;
  left: -30%;
  top: -90%;
  border-radius: 50%;
  border-style: solid;
  border-color: red;

}

.icons-header {

  position: absolute;
  width: 15%;
  height: 24px;
  left: 1300px;
  top: 28px;
  display: flex;


}

.content-banner {
  position: relative;
  width: 650px;
  height: 320px;
  top: 20%;
  left: 10%;
  background: #FFFFFF;
  box-shadow: 0px 2px 14px rgba(42, 42, 42, 0.24);
  border-radius: 3px;

}

.banner {
  height: 700px;

  width: 100%;
  display: flex;
}

.item-new {
  position: relative;
  width: 438px;
  height: 400px;
  margin: 2%;

  background: #FFFFFF;
  box-shadow: 0px 2px 14px rgba(42, 42, 42, 0.24);
  border-radius: 3px;
  cursor: pointer;
  /* transform: scale(1, 1);
  transition: transform 0.5s ease; */
}

/* .item-new:hover {
  transform: scale(1.1, 1.1)
} */

.list-new {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.footer {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0px;
  bottom: 0px;


  background: #0E1E32;
  display: flex;
}

.logo-footer {
  position: relative;
  width: 66px;
  height: 66px;

  left: 20%;
  top: 30%;
  border-radius: 50%;
  border-style: solid;
  border-color: red;

}

.content-footer {
  position: relative;
  width: 221px;
  height: 150px;
  left: 30%;
  top: 25%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 31px;
  letter-spacing: 0.02em;

  color: #FFFFFF;
}

.group-contact-footer {
  position: relative;
  width: 387px;
  height: 32px;

  top: 25%;
  left: 40%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 31px;
  /* identical to box height */
  word-spacing: 2em;
  text-align: center;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #FFFFFF;
}

.sign-up-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-container input {
  margin: 20px;
  width: 500px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 35%;
  top: 20%;
}


.form-container {
  width: 550px;
  height: 400px;


  display: flex;
  flex-direction: column;
}

.form-container .body {
  flex: 70%;
}

.button {

  margin-left: 70px;
  width: 400px;



}

.btn-register {
  margin-left: 230px;
  margin-top: 20px;
  color: #61dafb;
}

/* .bg_image {
  background: url('./image/Login.jpg');

  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  color: #f5f5ff;
} */

#avatar>img {
  width: 80px;
  height: 80px;
  background-blend-mode: normal;
  border-radius: 50px;
  border-style: solid;
}

#role {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #2A2A2A;
  opacity: 0.7;
}

#name {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #2A2A2A;
}

.line {
  width: 100%;
  border: 1px solid #C31815;
}

.recommend {
  position: absolute;
  right: 0;
  height: 100%;
  width: 300px;
  top: 60%;
}

.title-news {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

}

.content-news {

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  width: 388px;
  height: 100px;
  margin: 5%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.text-content {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  width: 75%;
  margin-left: 10%;
  white-space: pre-line;
}

.btn-login {
  border-radius: 10px;
  margin-right: 15px;
  padding: 5px 10px;
  border: 2px solid #535353;
  background: green;
  color: white;
  margin-left: 10px;
  width: 150px;

}

.content-news-banner {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  width: 550px;
  height: 200px;
  margin: 5%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: block;


}